{% extends "content/base.html" %}

{% block title %}Upload Text{% endblock %}

{% block content_content %}

<form class="form" id="text_post" method="POST">
<fieldset>
<legend>Text Content</legend>
<table>
	{{ form.as_table }}
	<!--
	<tr>
		<th>{{ form.title.label_tag }}</th>
		<td>{{ form.title }}</td>
		{% if form.title.errors %}
			<td class="error">form.title.errors</td>
		{% endif %}
	</tr>
	<tr>
		<th>{{ form.text.label_tag }}</th>
		<td>{{ form.text }}</td>
		{% if form.text.errors %}
			<td class="error">form.text.errors</td>
		{% endif %}
	</tr>
	-->
</table>
<input type="submit" value="Post" />
</fieldset>
</form>

{% endblock %}
