{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% trans "MUSEiC" %} | {% block title %}The Collaboratory{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css" media="screen, projection" />
		{% block extracss %}{% endblock %}

		<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery-1.2.6.min.js"></script>
		{% block extrajs %}{% endblock %}

</head>

<body>
	<div id="wrapper">
		<div id="header">

			<div id="header_logo" class="logo">
				<h1 id="logo">{% trans "museic.com" %} <span id="sub"> {% trans "the collaboratory" %} </span><span id="topglinks">
						</span>
					</h1>

					
				</div>
					<div id="global_user_box">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="{% url profile_overview %}">{% trans "Profile" %}</a></li>
						<li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
						{% else %}
						<li><a href="{% url profile_overview %}">{% trans "Login" %}</a></li>
						<li><a href="{% url signup %}">{% trans "Register" %}</a></li>
						{% endif %}
					</ul>
					</div>
					<div id="navwrap">
					{% load navigation %}
					<li class="navlist">
					<a class="nav {% active request "^/$" %}" id="home" href="{% url home %}">{% trans "home" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/accounts/" %}" id="profile" href="{% url profile_overview %}">{% trans "profile" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/collaborations/text/(?!post)" %}" id="collab" href="{% url textcontent_object_list %}">{% trans "collaboration" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/artists/" %}" id="artists" href="artist.html">{% trans "artists" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/inbox/" %}" id="inbox" href="inbox.html">{% trans "inbox" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/collaborations/[^/]+/post" %}" id="upload" href="{% url textcontent_create_object %}">{% trans "upload" %}</a>
					</li>
					</div>
					
			</div>
			{% if messages %}
			<div id="messages"><ul style="list-style: none;"></div>
			{% for message in messages %}
			<li class="success" id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small style="float: right;">{% trans "clear" %}</small></a> {{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			
			<div id="content">
			{% block content %}{% endblock %}
			</div>
			
		</div>
	</div>

		<div id="footer">
			<span id="logo">museic.com</span>
			<span id="bottomglinks">
			<a class="footerlink" id="help" href="help.html">{% trans "help" %}</a>
			|
			<a class="footerlink" id="contact" href="contact.html">{% trans "contact" %}</a>
			|
			<a class="footerlink" id="license" href="http://creativecommons.org/licenses/by/2.0/" rel="license">{% trans "license" %}</a>
			</span>
		</div>

</body>
</html>
