{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MUSEiC | {% block title %}The Collaboratory{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css" media="screen, projection" />
		{% block extracss %}{% endblock %}

		<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery-1.2.6.min.js"></script>
		{% block extrajs %}{% endblock %}

</head>

<body>
	<div id="wrapper">
		<div id="header">

			<div id="header_logo" class="logo">
				<h1 id="logo"> museic.com <span id="sub"> the collaboratory </span><span id="topglinks">
							<a href="help.html">help</a>
							| 
							<a href="contact.html">contact</a>
						</span>
					</h1>

					
				</div>
					<div id="navwrap">
					{% load navigation %}
					<li class="navlist">
					<a class="nav {% active request "^/$" %}" id="home" href="museic.html">home</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/accounts/" %}" id="profile" href="profile.html">profile</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/collab/" %}" id="collab" href="collab.html">collaboration</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/artists/" %}" id="artists" href="artist.html">artists</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/inbox/" %}" id="inbox" href="inbox.html">inbox</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/upload/" %}" id="upload" href="/content/text/post">upload</a>
					</li>
					</div>
					
			</div>
			{% if messages %}
			<div id="messages"><ul style="list-style: none;"></div>
			{% for message in messages %}
			<li class="success" id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small style="float: right;">{% trans "clear" %}</small></a> {{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			
			<div id="content">
			{% block content %}{% endblock %}
			</div>
			
		</div>
	</div>

		<div id="footer">
			<span id="logo">museic.com</span>
			<span id="bottomglinks">
			<a id="footerlink" id="help" href="help.html">help!</a>
			|
			<a id="footerlink" id="contact" href="contact.html">contact</a>
			</span>
		</div>

</body>
</html>
