{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load accountfilters %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% trans "MUSEiC" %} | {% block title %}The Collaboratory{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css" media="screen, projection" />
		{% block extracss %}{% endblock %}

		<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery-1.2.6.min.js"></script>
		{% block extrajs %}{% endblock %}

</head>

<body>
	<div id="wrapper">
		<div id="header">

			<div id="header_logo" class="logo">
				<h1 id="logo">{% trans "museic.com" %} <span id="sub"> {% trans "the collaboratory" %} </span><span id="topglinks">
						</span>
					</h1>

					
				</div>
					<div id="global_user_box">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="{% url profile_overview %}">{% trans "Profile" %}</a></li>
						<li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
						{% else %}
						<li>
						<form method="POST" action="{% url login %}?next={{ request.path|notlogout }}">
						<ul>
						{{login_form.as_ul}}
						</ul>
						<input type="submit" value="{% trans 'Login' %}" />
						</form>
						</li>
						<li><a href="{% url signup %}">{% trans "Register" %}</a></li>
						{% endif %}
					</ul>
					</div>
					<div id="navwrap">
					{% load navigation %}
					<li class="navlist">
					<a class="nav {% active request "^/$" %}" id="home" href="{% url home %}">{% trans "home" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/(accounts|messages)/" %}" id="profile" href="{% url profile_overview %}">{% trans "profile" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/collaborations/(?!post)" %}" id="collab" href="{% url content_collab_landing %}">{% trans "collaboration" %}</a>
					</li>
					<li class="navlist">
					<a class="nav {% active request "^/collaborations/post" %}" id="upload" href="{% url content_post_landing %}">{% trans "upload" %}</a>
					</li>
					</div>
					
			</div>
			{% if messages %}
			<div id="messages"><ul style="list-style: none;">
			<script lang="javascript"> var i = 0; var c = {{ messages|length }};</script>
			{% for message in messages %}
			<li class="success" id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); i++ ; if (i == c) $('#messages').fadeOut(); return false;"><small style="float: right;">{% trans "clear" %}</small></a> {{ message }}</li>
			</div>
			{% endfor %}
			</ul>
			{% endif %}
			
			<div id="content">
			{% block content %}{% endblock %}
			</div>
			
		</div>
	</div>

		<div id="footer">
			<span id="logo">museic.com</span>
			<span id="bottomglinks">
			<a class="footerlink" id="help" href="help.html">{% trans "help" %}</a>
			|
			<a class="footerlink" id="contact" href="contact.html">{% trans "contact" %}</a>
			|
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png" /></a>
			</span>
		</div>

</body>
</html>
