html {height: 100%;}
body {font-family: Geneva, Arial, sans-serif; margin: 0 auto; padding: 0; height:100%; width:50em; color: white;}
div#wrapper {min-height: 100%; position:relative; width: 50em;}
div#content {padding-bottom: 2.5em; color: black;}

div#header {width: 100%; background-color:rgb(255,133,46); margin-bottom: 0.8em;}
div#header, div#global_user_box {height: 4.5em;}
div#header_logo {height: 3.3em; width:80%; background-color:rgb(255,164,45);}
div#header_logo h1 {margin: 0; padding: 0.2em; color: white; padding-left: 0.5em; font-weight:lighter;}
#search_box { float: right; position: absolute; top: 0; right: 21%;}
div#global_user_box { float: right; position: absolute; width: 20%; height: 4.2em; top: 0; right: 0; }
div#global_user_box ul {margin: 0.1em; padding: 0; text-align: right;}
div#global_user_box a:link,
div#global_user_box a:hover,
div#global_user_box a:active,
div#global_user_box a:visited { color: white; text-decoration: none; }
div#global_user_box li {list-style-image:none; list-style-position:outside; list-style-type:none; margin:0;}
#global_user_box input {width: 93%;}
#global_user_box label,
#global_user_box input[type="submit"] {display: none;}
#global_user_box li,
#global_user_box ul,
#global_user_box form {margin: 0; padding: 0;}

div#messages {color: black; background-color: #ffdfb2; padding: 0.5em;}
div#messages ul,
div#messages li {padding: 0; margin: 0;}
a#hcheadlink {float:right; text-decoration: none; color: white; font-size: 0.8em;}

div#navwrap {padding-left: 100px;}
a.nav {font:InaiMathi; color: white; margin: 0; background: none repeat scroll 0 0; float:left; font-size:1.0em; padding:0.1em 0.4em; text-decoration:none; width: auto; }
li.navlist {list-style-image:none; list-style-position:outside; list-style-type:none; margin:0;}
a.nav.active {background: white; color: #faa330}
span#topglinks {font-size: 0.8em;}
span#topglinks a {text-decoration: none; color:white; valign: top;}


div#footer {width: 50em; position: relative; height: 2em; top:-2em; padding: 0; background-color:rgb(255,164,45);}
span#logo {margin: 0; padding-left: 0.5em; font-size: 1.5em;}

span#sub {font-size:0.5em; align: left;}
a.footerlink {text-decoration: none; color: white; font-size: 1em;}
span#bottomglinks {font-size: 0.8em;}

form#text_post textarea { height: 30em; }

form#text_post table,
form#text_post textarea#id_text {width: 100%;}

div#submit_comment {padding: 0.4em; width: 25em;background: rgb(255,240,244);}
div#submit_comment textarea { width: 100%; }
div#submit_comment fieldset { padding: 1.0em; }
div #submitted_content .metadata {font-size: 1em; padding-left: 1.1em; padding-right: 1.1em; background:rgb(255,250,244); width: 20%; float:left; margin-right: 1em; margin-bottom: 1em;}

div #content_comments h1 {padding-left: 2.0em;font-size: 1.4em;}

div #submitted_content {font-size: 1em; padding: 15px 20px 15px 20px; background: rgb(255,240,244); min-height: 15em;}

table.messages {
	width: 100%;
}

tr.even {
	background-color: #ddd;
}

input.submit-post {border-color: orange;
border-style:solid;
border-width:1px;
color: orange;
font-family:'trebuchet ms',helvetica,sans-serif;
font-size:84%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;}
div #submitted_content .metadata,
div #submit_comment,
div #submitted_content {
-moz-border-radius: 0.8em; -khtml-border-radius: 0.8em; -webkit-border-radius: 0.8em; border-radius: 0.8em; 
}
#landingpage_links {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	min-height: 300px;
}
#landingpage_links img {
	border: 0;
}
#landingpage_links li {
	float: left;
}

a.male, a.female {
  float: left;
  border: 2px solid #CCC;
  font-size: 1.3em;
  padding: 0px 30px;
  margin-right: 5px;
}

a.male {
  background: url(/site_media/userprofile/images/male.png) no-repeat #E6E6E6;
}

a.female {
  background: url(/site_media/userprofile/images/female.png) no-repeat #E6E6E6;
}

div#map {
	width: 480px;
	height: 320px;
}

div.mapinfo {
	display: none;
}

div.vcard {
	border: 4px dotted #CCC;
	background: #EFEFEF;
	padding: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}

div.vcard ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div#photos > a > img {
	float: left;
	margin: 5px;
	border: 4px solid black;
}

div.center {
	text-align: center;
}

ul.cleanul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

select#id_country > option[disabled=disabled] {
  font-weight: bold;
  background: #ECECEC;
}


div.calendar {
	line-height: 1em;
	clear: both;
	overflow: hidden;
	margin-bottom: 1em;
}

div.calendar a {
	text-decoration: none;
}

div.calendar th, div.calendar td {
	padding: 0px;
	text-align: center;
	padding: 3px 0px;
}

div.calendar select {
	margin: 0px;
}

.hide {
	display: none;
}

#search_box label { 
	display: none;
}

#logo { width: 9.5em; }
